<div class="lockbox-partner clearfix">
  <h2>Account Creation</h2>
  <div class="alert alert-success alert-compact">
    <div>
      <i class="fa fa-check-circle alert-icon" aria-hidden="true"></i>
    </div>
    <div class="alert-content">
      <h4 class="alert-heading">
        Your account has been created
      </h4>
      <div>
        Success! Your account has been created. Please click on the Action Needed
        or All Activity tabs above to start exploring Lockbox.
      </div>
    </div>
  </div>
</div>
