<head>
  <title>Lockbox Terms of Service</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<div class="container main-content">

  <p class="text-center">
    <strong>Lockbox Terms of Service</strong>
  </p>

  <p>The Lockbox website and service located at mac-lockbox.herokuapp.com (the “Service”) is operated by the Midwest
    Access Coalition (“Service Provider,” “we,” or “us”). By registering for, using, or accessing the Service, you agree
    to be bound by these terms of service (“Terms”). If you don’t agree to these Terms, you must discontinue use of the
    Service. If you have any questions about these terms, please contact us: Midwest Access Coalition, P.O. Box 408363,
    Chicago, IL 60640, lockbox@midwestaccesscoalition.org.</p>

  <ol>
    <li><strong>The Service and Payments</strong>
      <ol>
        <li>Service Description. The Service is a platform to enable reproductive health service providers (“Partners”)
          to make funds available to individuals requiring reproductive health services (“Clients”) via a network of
          Partner locations. Through the Service, Partners’ authorized representatives (“Users”) may: (a) indicate funds
          available for payment to Clients; (b) enter information about Clients in need of funds; (c) arrange payments
          (through means other than the Service) to other Partners for the benefit of Clients; and (d) earmark funds for
          payment to specific Clients.
        </li>
        <li>Payments. Service Provider is not a payment processor and does not hold any funds on behalf of Partners or
          Clients. Partners use the Service to arrange payments to one another for the benefit of Clients, but these
          payments are not made using the Service. You agree to use payments from other Partners solely as agreed
          between you and that Partner. You agree that each Partner is solely responsible for any agreement to pay any
          Partner or Client and that all payments arranged using the Service are at your own risk. You are solely
          responsible for any losses you incur due to erroneous or fraudulent payments made in connection with your use
          of the Service.
        </li>
        <li>No Solicitation. The Services are offered to enable Partners to work together to provide Clients with access
          to funds. Service Provider merely provides the technology to allow Partners to connect with one another to
          assist Clients. The Services do not constitute a solicitation of donations by Service Provider, and Service
          Provider does not engage in any solicitation activities, or consult on the solicitation of contributions from
          the public, on behalf of any individual, entity, or organization. By using the Service, you understand and
          agree that Service Provider shall not be responsible for the use of any funds by a Partner, User, or Client.
        </li>
        <li>Taxes and Reporting. Service Provider makes no representation as to whether all or any portion of payments
          made between Partners, or by Partners to Clients, are tax-deductible or eligible for tax credits. Service
          Provider will not be liable for any claim by any federal, state, provincial, territorial, local or any other
          tax authority with respect to the characterization on any applicable tax return of any payment by you or any
          Partner or Client. You should consult your tax advisor as to the tax treatment of any payment. You will comply
          with all relevant and applicable law and financial reporting obligations, including but not limited to laws
          and regulations relating to registration, tax reporting, political contributions, and asset disclosures for
          payments you make or receive.
        </li>
      </ol>
    </li>

    <li>Registration, Personal Information, and Privacy
      <ol>
        <li>Registration. Use of the Service is restricted to Partners and their authorized representatives. To use the
          Service, you must register for an account. By registering an account on the Service, each User and the Partner
          they represent affirms that the User is an authorized representative of the Partner. You agree to provide
          truthful
          and accurate information about yourself and your organization in your application. You understand that Service
          Provider may decide, in its sole discretion, to approve or deny any application for any reason, or no reason.
        </li>
        <li>Security. You are responsible for maintaining the confidentiality of your password and are fully responsible
          for
          any and all activities that occur under your account. You agree to immediately notify Service Provider of any
          unauthorized use of your password or account or any other breach of security.
        </li>
        <li>Privacy. The privacy of any personal information you provide is governed by our Privacy Policy [TBD link],
          which
          is incorporated into these Terms. We will not use or share any personal information except is provided in our
          Privacy Policy. You represent and warrant that you have the authority (including any necessary consents), as
          required under applicable law, to provide us with any personal data (including of Clients and Users) that you
          share with us, and you agree allow us to use such personal data for the purposes for which you shared it with
          us.
          Age Restriction. You must be at least 18 years old to use the Service.
        </li>
      </ol>
    </li>

    <li>User Content
      <ol>
        <li>
          User Responsible. All information and content submitted by users of the Service (“User Content”) is the sole
          responsibility of the person who provides it. You represent and warrant that all information you provide in
          connection with a Partner or Client is accurate, complete, and not likely to deceive reasonable Users. Service
          Provider reserves the right, subject to applicable law and its obligations to its customers, to remove User
          Content for any reason, including that it violates our Acceptable Use Policy. However, Service Provider has no
          obligation to monitor, filter, or disable access to any User Content, and shall not be responsible if you
          encounter objectionable User Content on the Service.
        </li>
        <li>
          Ownership & License to Service Provider. You retain your rights to any User Content you provide through the
          Service. You grant to Service Provider a non-exclusive, worldwide, royalty-free, perpetual, license (including
          the
          right to sublicense) to use, host, store, cache, reproduce, publish, display, perform, distribute, transmit,
          adapt, and modify your User Content, in all media now known or later developed, for the purpose of operating,
          promoting, and improving the Service, and developing new services.
        </li>
        <li>
          Authority. You represent and warrant that you have all necessary rights and authority to grant the above
          licenses.
          With regard to any third-party content that you submit, you represent and warrant that you have a license to
          provide the content according these Terms, or that your use is otherwise permissible, for example as fair use.
        </li>
        <li>
          Retention. You acknowledge that Service Provider has no obligation to you to retain data relating to any
          account,
          Partner, or Client. You acknowledge that Service Provider reserves the right to delete data or to terminate
          accounts at any time and for any reason, with or without notice, and without any liability to you or to any
          third
          party for any resulting claims, damages, costs or losses.
        </li>
      </ol>
    </li>
    <li>Acceptable Use Policy
      <ol>
        <li>
          Prohibited Conduct. The following conduct is prohibited on the Services:
          <ol>
            <li>
              Illegal activities, including the promotion or solicitation of illegal acts.
            </li>
            <li>Malicious activity or content, such as the transmission of viruses, malware, or any other malicious or
              destructive
              code, or activity intended to harm or disrupt the hardware, networks, or infrastructure of Service
              Provider or
              any
              third parties.
            </li>
            <li>Unauthorized Access, including accessing or attempting to access any non-public interface, system, or
              functionality of the Service, or testing the Service for vulnerabilities.
            </li>
            <li>Abuse, including threats of violence or harassment of a user through repeated unwanted contact.</li>
            <li>Posting anyone’s personal or confidential information without their permission, including social
              security
              numbers,
              credit card numbers, street addresses, phone numbers, confidential ID numbers, and account passwords.
            </li>
            <li>Account hijacking, including any access to or use of another user’s account without their permission.
            </li>
            <li>Spam, including posting unsolicited promotional or commercial content in comments, sending invitations
              for the
              purpose of advertising to the recipients, or posting content or links for the purpose of manipulating
              search
              or
              other algorithms.
            </li>
            <li>Intellectual property infringement, including the infringing use of third party trademarks or the
              unauthorized
              and
              unlawful posting of copyrighted content.
            </li>
            <li>Fraud or impersonation, including any use of the Services to impersonate or deceive others.</li>
          </ol>
        </li>
        <li>Violations. Service Provider reserves the right, to the extent permitted by applicable law, to remove or
          prohibit
          any User Content and to suspend or terminate any user account, whether for violating these Terms or for any
          other
          reason.
        </li>
      </ol>
    </li>
    <li>Ownership of the Service; Service Changes and Limitations
      <ol>
        <li>Ownership of Service. Service Provider and its licensors shall retain all right, title, and interest to the
          Service. If you provide any feedback, bug reports, feature requests, or other comments to Service Provider,
          Service Provider and its licensors shall be free to use or incorporate these into the Services without any
          obligation to you. Service Provider shall retain all right, title, and interest to Service Provider's
          trademarks,
          branding, logos, and related assets used in connection with the Service, and neither these Terms nor your use
          of
          the Service gives you any rights to those assets.
        </li>
        <li>Changes to the Service. Service Provider may change the Service at any time, without notice to you. Service
          Provider may also stop providing one or more Service or features, introduce new limits on use of the Service,
          or
          change the terms upon which the Service is available.
        </li>
      </ol>
    </li>
    <li>Termination
      <ol>
        <li>
          You may terminate your account at any time.
        </li>
        <li>
          We may suspend or terminate your access to the Service, with or without notice, at any time and for any
          reason, including for violations of these Terms.
        </li>
        <li>
          In the event of termination, the following sections of these Terms shall remain in effect: 1.4, 3, 5.1, 7,
          8, 9, and 10.
        </li>
      </ol>
    </li>
    <li>Indemnification
      <ol>
        <li>
          You agree to indemnify and hold harmless Service Provider, Midwest Access Coalition, and their licensors,
          subsidiaries, affiliates, officers, agents, or other partners, and employees (“Service Provider Parties”),
          from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out
          of your use of and access to the Service, your violation of these Terms, your violation of any rights of
          another person or entity, or your violation of any applicable laws or regulations.
        </li>
      </ol>
    </li>
    <li>Disclaimer of Warranties, Limitations of Remedies
      <ol>
        <li>
          Your access to and use of the Service and any User Content is at your own risk. YOU UNDERSTAND AND AGREE THAT
          THE
          SERVICE IS PROVIDED TO YOU ON AN “AS IS” AND “AS AVAILABLE” BASIS. WITHOUT LIMITING THE FOREGOING, TO THE FULL
          EXTENT PERMITTED BY LAW, SERVICE PROVIDER PARTIES DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, OF
          MERCHANTABILITY,
          FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
        </li>
        <li>Service Provider Parties make no representations or warranties of any kind with respect to the Service,
          including
          any representation or warranty that the use of the Service will: (a) be timely, uninterrupted or error-free or
          operate in combination with any other hardware, software, system, or data, (b) meet your requirements or
          expectations, (c) be free from errors or that defects will be corrected, or (d) be free of viruses or other
          harmful components. Service Provider Parties also make no representations or warranties of any kind with
          respect
          to any Document or User Content. No advice or information, whether oral or written, obtained from Service
          Provider
          Parties or through the Service, will create any warranty not expressly made herein.
        </li>
      </ol>
    </li>

    <li>Limitation of Liability
      <ol>
        <li>
          TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, SERVICE PROVIDER PARTIES SHALL NOT BE LIABLE, IN CONTRACT,
          TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE
          DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA,
          USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS
          OR USE THE SERVICE; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING WITHOUT
          LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT
          OBTAINED FROM THE SERVICE; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.
        </li>
        <li>
          IN NO EVENT SHALL THE AGGREGATE LIABILITY OF SERVICE PROVIDER PARTIES EXCEED ONE HUNDRED U.S. DOLLARS (U.S.
          $100.00) OR THE AMOUNT YOU PAID US TO USE THE SERVICES.
        </li>
        <li>
          Nothing in these terms is intended to exclude or limit the liability of Service Provider Parties for any
          liability that cannot be excluded by law.
        </li>
      </ol>
    </li>
    <li>
      Miscellaneous Terms
      <ol>
        <li>
          Modifications to this Agreement. Service Provider may occasionally revise these Terms. You can find the most
          recent version at [TBD url]. By using the Service after a new version of these Terms becomes effective, you
          thereby agree to be bound by the revised Terms.
        </li>
        <li>
          Choice of Law. These Terms and the relationship between you and Service Provider shall be governed by the laws
          of
          the State of Illinois without regard to its conflict of law provisions and that any and all claims, causes of
          action, or disputes (regardless of theory) arising out of or relating to the Service, shall be brought
          exclusively
          in the courts located in Cook County or the U.S. District Court for the Northern District of Illinois. You
          consent
          and waive any objection to the jurisdiction of and venue in these courts.
        </li>
        <li>
          Authority to Enter Into Agreement. You represent and warrant that you have the legal authority to enter into
          this
          agreement and that the performance of obligations under this agreement will not violate any agreement between
          you
          and any other person, firm, or organization. If you are entering this agreement on behalf of another person or
          entity, you represent and warrant that you are authorized to do so.
        </li>
        <li>
          Waiver and Severability. Failure by Service Provider to enforce any right or provision of these Terms will not
          be
          deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be
          invalid
          or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the
          remaining provisions of these Terms will remain in full force and effect.
        </li>
        <li>
          Entire Agreement. These Terms and our Privacy Policy together form the entire and exclusive agreement between
          you
          and Service Provider regarding the Service (unless you have a separate written agreement with Service Provider
          that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior
          agreements between you and Service Provider regarding the Service.
        </li>
      </ol>
    </li>
  </ol>
</div>
