<%= image_tag "oops.gif", width: "300", class: "error-page-img top-img" %>

<h2>Server Error</h2>
<p>
  Something went wrong, please reach out to <%= mail_to ENV['LOCKBOX_EMAIL'] %>
</p>

<%= image_tag "oops.gif", width: "300", class: "error-page-img bottom-img" %>
