.lockbox-partner-header {
  margin: 0px auto;


  .header-desktop { display: none; }
  .header-mobile { display: block; }
  @media screen and (min-width: $mobile-width) {
    .header-desktop { display: block; }
    .header-mobile { display: none; }
  }

  .tooltip-icon {
    color: $color-primary;
    font-size: 0.6em;
  }

  .lockbox-partner-info {
    p {
      width: 300px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.lockbox-partner-buttons, .lockbox-partner-header-info {
  display: flex;
  justify-content: space-between;
}

.lockbox-activity {
  table {
    margin-top: 0;
  }
}

.add-cash-form,
.new-user-form,
.support-request-form {
  margin-bottom: 50px;
}
