<footer>
  <div class="footer">
    <a id="sqreen-badge" title="Realtime application protection" href="https://www.sqreen.com/?utm_source=badge"><img style="width:109px;height:36px" src="https://s3-eu-west-1.amazonaws.com/sqreen-assets/badges/20171107/sqreen-light-badge.svg" alt="Sqreen | Runtime Application Protection"/></a>
    <div>
      Lockbox is an open source tool maintained by
      <a href="https://midwestaccesscoalition.org/" target="_blank"> Midwest Access Coalition </a>
    </div>
    <div>
      <a href="/terms-of-service" target="_blank"> Terms of Service </a>
      <span>|</span>
      <a href="/privacy-policy" target="_blank"> Privacy Policy </a>
    </div>
  </div>
</footer>
